.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: bold;
}

/*@keyframes squeeze { 
  from{
    letter-spacing: -2px;
  }
  to{
    letter-spacing: 5px;
  }
} */

/*image sizes*/

/*image sizes*/

.header{
  text-align: center;
  background-color: #3e7363;
  color: #fffae6;
  padding: 5px;
  font-size: 2vw;
  letter-spacing: 5px;
  animation-name: squeeze;
  animation-duration: 1s;
}

p{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-bar ul{
  list-style-type: none;
  background-color: #3e7363;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nav-bar a{
  color: #fffae6;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.nav-bar a:hover{
  background-color: #5ab89c;
}

.nav-bar li{
  float: left;
}

.container-column{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
}

.container{
  display:flex;
  align-items: flex-start;
}

.box-1{
  flex: 1;
  width: 100%;
}

.box-2{
  flex: 1;
  text-align: left;
  background-color: #fffae6;
  padding: 2vh;
}

.box-3{
  flex: 1;
  align-items: center;
}